venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

logs/

mts_app/.secret*
mts_app/logs/
mts_app/__pycache__/

logs/

.settings
.*project

deployment/vagrant/.vagrant/
deployment/vagrant/*log
deployment/mysql/backup/
